<ion-header>
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" [formGroup]="loginForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Update Password</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="email" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <div
                 *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                 class="alert alert-danger">
                 <div *ngIf="loginForm.controls.email.errors.required">
                   Email is required.
                 </div>
                 <div *ngIf="loginForm.controls.email.errors.pattern">
                   Email must be valid.
                 </div>
                </div>
                <ion-item>
                  <ion-button (click)="sendOTP()">Get OTP</ion-button>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="otp" name="otp" type="number" placeholder="Enter OTP" ngModel required></ion-input>
                </ion-item>
                <div
                     *ngIf="loginForm.controls.otp.invalid && (loginForm.controls.otp.dirty || loginForm.controls.otp.touched)"
                     class="alert alert-danger">
                     <div *ngIf="loginForm.controls.otp.errors.required">
                       OTP is required.
                     </div>
                     <div *ngIf="loginForm.controls.otp.errors.pattern">
                       OTP will be 6 digit numeric character.
                     </div>
                   </div>
            <ion-item>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <div
                 *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                 class="alert alert-danger">
                 <div *ngIf="loginForm.controls.password.errors.required">
                   Password is required.
                 </div>
                 <div *ngIf="loginForm.controls.password.errors.pattern">
                   Password should be atleast 6 characters long and of valid characters.
                 </div>
               </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="login()">Update Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row>
    <div text-center>
      If you remember your password, please login
      <ion-button size="small" (click)="openLogin()">Login</ion-button>
        </div>
</ion-row>
</ion-content>
