.otherProduct {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .product-card {
    margin-right: 10px;
    display: inline-block;
  }
  
  .otherProduct ::-webkit-scrollbar {
    display: none;
  }

.vertical-align-content {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  align-self: center !important;
}
