<ion-header>
  <ion-toolbar>
    <ion-title>AboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container myContainer">
    <ion-row class="row header justify-content-center text-center">
      <h3>About Us</h3>
    </ion-row>
    <ion-row class="row content justify-content">
      <p>Theflyingbasket.com is an online portal where you can get Affordable Chemical Free Fruits , Vegetables , All Grocery items and Personal care in  best price at your door step. You can select and purchase a wide variety of fruits and vegetables merely sitting at home. We aim at making the lifestyle of our customers much more simpler. With the ease of a click, fruits , vegetables , all grocery items and personal care reach your doorstep saving all the muscular and time consuming tasks.
  <br>
        Our customers can now say NO to traffic and parking worries, heavy shopping bags, defaulting in weight, scorching heat and other unfavourable weather conditions.
        <br>
        We believe that our customers deserve the best of services in the form of well washed vegetables, which are cleaned, sorted and packed giving importance to keeping them fresh all throughout. Best quality grocery products are available. Our team focuses to keep quality at the top priority at each stage for the concern of health of our customers.
        </p>
    </ion-row>
  </div>
</ion-content>
