<ion-card>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-badge *ngIf="(product.productPriceBeforeDiscount - product.productPrice) >= 0" color="danger">{{product.productPriceBeforeDiscount | discount:product.productPrice}}</ion-badge>
          <ion-img width="80" height="80"
            src="https://theflyingbasket.com/assets/productimages/{{product.id}}/{{product.productImage1}}"
            (click)="showDetails(product.id)"></ion-img>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
            </ion-row>
            <ion-row *ngIf="productVarieties.length == 0  && product.productPriceBeforeDiscount!=product.productPrice" class="ion-text-center">
              <span class="productPrice" style="text-decoration: line-through;">Rs.
                {{product.productPriceBeforeDiscount}}/-</span>
            </ion-row>
            <ion-row *ngIf="productVarieties.length != 0; else priceActual">
              <form (ngSubmit)="quantityForm()">
                <ion-select (change)="changeQuantityType(product.id)" class="custom-select" style="width:200px;" name="choosedProductVariety" [(ngModel)]="choosedProductVariety" okText="Okay" cancelText="Cancel" placeholder="change">
                  <ion-select-option *ngFor="let productVariety of productVarieties;"  value="{{productVariety.id}}" [selected]="productVariety.id == productVarieties[0].id">
                    {{productVariety.productQuantity}} {{productVariety.quantityType}} - Rs. {{productVariety.productPrice}}/-
                  </ion-select-option>
                </ion-select>
              </form>
            <ion-text>
              {{quantityDict.get(choosedProductVariety).productQuantity}} {{quantityDict.get(choosedProductVariety).quantityType}} - Rs. {{quantityDict.get(choosedProductVariety).productPrice}}/-
            </ion-text>
            </ion-row>
            <ng-template #priceActual>
              <ion-row class="ion-text-center">
                Rs. {{product.productPrice}}/-
              </ion-row>
            </ng-template>
            <ion-row *ngIf="globalVariable.myCart.getQuantity(product) == 0; else inCart">
              <ion-button (click)="addToBasket()">Add to basket <ion-icon name="basket"></ion-icon>
              </ion-button>
            </ion-row>
            <ng-template #inCart>
              <ion-row>
                <ion-button (click)="changeQuantity(-1)" color="warning"><ion-text color="dark">-</ion-text></ion-button>
                <ion-text>{{globalVariable.myCart.getQuantity(product)}} in &nbsp;<ion-icon name="basket"></ion-icon></ion-text>
                <ion-button (click)="changeQuantity(1)" color="secondary"><ion-text color="dark">+</ion-text></ion-button>
              </ion-row>
            </ng-template>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-card-content (click)="showDetails(product.id)">
    {{product.productName}}
  </ion-card-content>
</ion-card>