<ion-card>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-badge color="success">{{product.productPriceBeforeDiscount | discount:product.productPrice}}</ion-badge>
          <img class="productImage"
            src="http://theflyingbasket.com/assets/productimages/{{product.id}}/{{product.productImage1}}"
            (click)="showDetails(product.id)">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
            </ion-row>
            <ion-row class="ion-text-center">
              <span class="productPrice" style="text-decoration: line-through;">Rs.
                {{product.productPriceBeforeDiscount}}</span>
            </ion-row>
            <ion-row *ngIf="productVarieties != null; else priceActual">
                <form class="form" [formGroup]="quantityForm">
              <ion-select placeholder="Choose quantity" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let productVariety of productVarieties"
                value="productVariety.id" formControlName="quantity">
                  {{productVariety.productQuantity}} {{productVariety.quantityType}} - {{productVariety.productPrice}}
                </ion-select-option>
              </ion-select>
            </form>
            </ion-row>
            <!-- <ion-row>
              <mat-form-field *ngIf="productVarieties != null; else priceActual">
                <mat-label>Quantity</mat-label>
                <select matNativeControl required>
                  <option *ngFor="let productVariety of productVarieties" value="productVariety.id">
                    {{productVariety.productQuantity}} {{productVariety.quantityType}} - {{productVariety.productPrice}}
                  </option>
                </select>
              </mat-form-field>
            </ion-row> -->
            <ng-template #priceActual>
              <ion-row class="ion-text-center">
                Rs. {{product.productPrice}}
              </ion-row>
            </ng-template>
            <ion-row>
              <ion-button (click)="addToBasket(product)">Add to basket <ion-icon name="basket"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-card-content>
    {{product.productName}}
  </ion-card-content>
</ion-card>