<ion-header>
  <ion-toolbar>
    <ion-title>DeliveryPolicy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container myContainer">
    <ion-row class="header justify-content-center text-center">
      <h3>Delivery
      </h3>
    </ion-row>
    <ion-row class="content justify-content">
    <p>
      Delivery:<br>
      You can order 24*7 in website & mobile application. Our delivery timings are between 08:30 AM TO 12:00 AM. Order before 07:30 AM for Same day delivery.<br>
      Other Delivery Conditions<br>
      Delivery is not executed during first attempt if in the event that, No one is at home, Wrong Address or insufficient address, Premises Locked, or refusal to accept, Wrong Mobile or Landline Number, no reply, not reachable, Then the customer may be charged for the order. 
     <br> Therefore, refunds, discounts, cancellations and re-delivery would not be applicable in such a case. In case of Natural calamities like Earthquake, / heavy rains / Emergency Strikes / Curfew or any other anti-social event, we reserve the right to reschedule the delivery to the next most probable date.
  <br>
   Delivery will be free for total cart value of Rs.300 or more.
   <br>Below Rs.300 cart value delivery charge will be twenty rupees.
  
    </p>
    </ion-row>
  </div>
</ion-content>
