<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" [formGroup]="loginForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="email" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <div
                 *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                 class="alert alert-danger">
                 <div *ngIf="loginForm.controls.email.errors.required">
                   Email is required.
                 </div>
                 <div *ngIf="loginForm.controls.email.errors.pattern">
                   Email must be valid.
                 </div>
                </div>
            <ion-item>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <div
                 *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                 class="alert alert-danger">
                 <div *ngIf="loginForm.controls.password.errors.required">
                   Password is required.
                 </div>
                 <div *ngIf="loginForm.controls.password.errors.pattern">
                   Password should be atleast 6 characters long and of valid characters.
                 </div>
               </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="login()">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row>
    <div text-center>
  If you don't have an account, please <a (click)="openRegister()" style="color: red; text-decoration: underline;">
    register</a> first!
    </div>
</ion-row>
</ion-content>
