<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (click)="openSearch()" [color]="success" showCancelButton="focus"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <img class="banner" src="../../../assets/menupage/wlecome_banner.webp">
    </ion-row>
    <ion-row>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../../assets/menupage/4.webp" alt="First slide">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/menupage/1.webp" alt="Second slide">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/menupage/2.webp" alt="Third slide">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/menupage/3.webp" alt="Fourth slide">
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <h3 style="color: rgb(110, 104, 13)">Categories made for you:</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../assets/menupage/fruits.webp" (click)="openShop(13)">
      </ion-col>
      <ion-col>
        <img src="../../../assets/menupage/vegetables.webp" (click)="openShop2(8)">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../assets/menupage/spices.webp" (click)="openShop(33)">
      </ion-col>
      <ion-col>
        <img src="../../../assets/menupage/groceries.webp" (click)="openShop3(9,10)">
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <img src="../../../assets/menupage/dryfruits.webp" (click)="openShop(14)">
    </ion-col>
    <ion-col>
      <img src="../../../assets/menupage/snacks.webp" (click)="openShop2(12)">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="../../../assets/menupage/babycare.webp" (click)="openShop2(14)">
    </ion-col>
    <ion-col>
      <img src="../../../assets/menupage/home&PersonalCare.webp" (click)="openShop2(15)">
    </ion-col>
  </ion-row>
  <ion-row>
      <img src="../../../assets/menupage/beauty.webp" (click)="openShop2(11)">
    </ion-row>
  </ion-grid>
</ion-content>
