<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
      <ion-button expand="full" color="secondary">Cart Items</ion-button>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let cartItem of globalVariable.myCart.myCartItems">
        <app-product-card [product]="cartItem.product">
          </app-product-card>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-col size=6>
        <ion-row>Total : Rs: {{globalVariable.myCart.getTotalCartPrice()}}</ion-row>
        <ion-row style="color: green">You saved : Rs: {{globalVariable.myCart.getTotalDiscountPrice()}}</ion-row>
        <ion-row>
          <ion-button size="small" (click)="clearCart()">Clear Cart</ion-button>
        </ion-row>
      </ion-col>
      <ion-col size=6>
        <ion-button size="large" (click)="checkout()">CheckOut</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
