<ion-header>
  <ion-toolbar>
    <ion-title>ContactUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myContainer justify-content-center text-center">
    <ion-row>
          <img class="img" src="../../../../assets/images/get-to-know-us.webp">
    </ion-row>
    <ion-row>
          <div class="col">
            <b class="copyright">We are available 24/7 at +91 8759661054 </b> 
          </div>
          <img class="img" src="../../../../assets/images/contact-us.webp">
      </ion-row>
    <ion-row class="bg-secondary text-white">
        <b class="copyright">&copy; 2019 The Flying Basket </b> 
    </ion-row>
    <ion-row class="bg-secondary text-white">
          <b> &nbsp; All rights reserved.</b>
    </ion-row>
  </div>
</ion-content>
