<ion-header>
  <ion-toolbar>
    <ion-title>Cancel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container myContainer">
    <ion-row class="row header justify-content-center text-center">
      <h3>CANCEL & RETURN POLICY
      </h3>
    </ion-row>
    <ion-row class="row content justify-content">
    <p>
      ● Refund and Return :<br>
      Once you purchase a product and it is delivered properly it couldn’t be returned.
      Check the Loose product like vegetables and fruits and other grocery item Before 
      delivery if find something wrong don’t accept from delivery boy.We always check 
      thoroughly products to maintain proper quality and quantity and then send for the
      shipping to the customer. At the time of shipping if any product will damage please
      don’t accept the damaged product. Replacement only acceptable in case of wrong product
      delivered . Otherwise no replacement no return will be acceptable . We won’t return 
      open packed product. We always accept bank transfer and Credit card & debit card 
      payment through Payment Gateway. Risk of credit & debit card is subjected to Payment Gateway.
    </p>
    </ion-row>
  </div>
</ion-content>
