<ion-header>
  <ion-toolbar>
    <ion-title>Cancel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container myContainer">
    <ion-row class="row header justify-content-center text-center">
      <h3>CANCEL & RETURN POLICY
      </h3>
    </ion-row>
    <ion-row class="row content justify-content">
    <p>
      Cancellation by Site / Customer: You as a customer can cancel your order anytime up to the cut-off time of the slot for which you have placed an order by calling our customer service. In such a case we will Credit your wallet against any payments already made by you for the order. If we suspect any fraudulent transaction by any customer or any transaction which defies the terms & conditions of using the website, we at our sole discretion could cancel such orders. We will maintain a negative list of all fraudulent transactions and customers and would deny access to them or cancel any orders placed by them.
    <br>  Return & Refunds: We have a "no questions asked return policy" which entitles all our Delivery Ambassadors to return the product at the time of delivery if due to any reason they are not satisfied with the quality or freshness of the product. We will take the returned product back with us and issue a credit note for the value of the return products which will be credited to your account on the Site. This can be used to pay your subsequent shopping bills. Refund will be processed through same online mode within 7 working days.
      
    </p>
    </ion-row>
  </div>
</ion-content>
