<ion-header>
  <ion-toolbar>
    <ion-title>MyProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="globalVariable.loggedIn">
    <ion-text>Checkout your orders here..<a (click)="myOrders()">My Orders</a> </ion-text>
    <form (ngSubmit)="logForm()">
      <ion-list>
  
        <ion-item>
          <ion-label floating>Name: </ion-label>
          <ion-input type="text" value="" name="name" [(ngModel)]="globalVariable.loggedInUser.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Contact No: </ion-label>
          <ion-input type="text" value="" name="contactno" [(ngModel)]="globalVariable.loggedInUser.contactno"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email: </ion-label>
          <ion-input type="text" value="" name="email" [(ngModel)]="globalVariable.loggedInUser.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Shipping Address: </ion-label>
          <ion-input name="shippingAddress" type="text"
            [(ngModel)]="globalVariable.loggedInUser.shippingAddress"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Landmark: </ion-label>
          <ion-input type="text" name="landMark" [(ngModel)]="globalVariable.loggedInUser.landMark">
          </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>City: </ion-label>
          <ion-input type="text" name="shippingCity" [(ngModel)]="globalVariable.loggedInUser.shippingCity">
          </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>State: </ion-label>
          <ion-input type="text" name="shippingState" [(ngModel)]="globalVariable.loggedInUser.shippingState">
          </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Pincode: </ion-label>
          <ion-input type="number" name="shippingPincode"
            [(ngModel)]="globalVariable.loggedInUser.shippingPincode"></ion-input>
        </ion-item>
        <ion-item-divider slot="end">
          <ion-button shape="round" type="submit" color="success">Update Details</ion-button>
        </ion-item-divider>
      </ion-list>
    </form>
  </div>
  <ion-card *ngIf="globalVariable.loggedInUser.id == 0" class="container justify-content-center text-center">
    <ion-item>
      <ion-img src="../../assets/images/please-login.png" (click)="openLogin()" routerLinkActive="active"
      class="productImage"></ion-img>
    </ion-item>
    <ion-item><p>
      Please login before viewing this page!
    </p></ion-item>
    <ion-item>
      <ion-button class="btn btn-primary" (click)="openLogin()" routerLinkActive="active">Login/Signup</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
